$primary: #F1EC73;
$gray-light: #D9D9D9;
$black: #000000;
$white: #FFFFFF;
$purple: #EAA1FF;
$azure: #64dcf8;
$gray-dark: #242424;


:export {
    primary: $primary;
    grayLight: $gray-light;
    black: $black;
    white: $white;
    purple: $purple;
    azure: $azure;
    grayDark: $gray-dark;
}