@import "@styles/index.module.scss";

.card {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow: hidden;
  border: 0.5px solid $black;

  &__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }

  .hover {
    transition: transform 0.5s;
    transform: scale(1.1);
  }

  &__title {
    font-weight: $font-weight-bolder;
  }

  &__cta {
    width: 100%;
    padding: 0px 10px 10px 10px;
  }
}
