@import './modules/colors.scss';
@import './modules/variables.scss';

* {
    border: none;
    font-family: $font-family;
    box-sizing: border-box;
    font-synthesis: none !important;
    letter-spacing: 0px;
}

.page {
    // padding-left: max(12px, env(safe-area-inset-left));
    // padding-right: max(12px, env(safe-area-inset-right));
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}


body {
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    background: #F6F6F6;
    color: #000000;

    .page {
        height: 100dvh;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}


h1 {
    font-family: 'Intro Italic', sans-serif;
    font-size: $head-font-size;
    font-weight: $font-weight-normal;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: $title-font-size;
    font-weight: $font-weight-bolder;
    text-align: center;
    margin: 0;
}

h3 {
    font-family: 'Intro Italic', sans-serif;
    font-size: $section-font-size;
    font-weight: $font-weight-bolder;
    text-align: center;
    margin: 0;
}

p {
    font-size: $section-font-size;
    font-weight: $font-weight-normal;
    text-align: center;
    margin: 0;
}