@import "@styles/index.module.scss";

.button {
    background-color: $black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        transition: transform 0.3s ease;
        width: 30px;
        height: 30px;
    }
}

.rotate {
    &:hover {
        svg {
            transform: rotate(180deg);
        }
    }
}