@import "@styles/index.module.scss";

.modal_content {
  position: relative;
  background-color: $purple;
  border-radius: 40px;
  padding: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  .close_btn {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
  }

  .img {
    background-color: $azure;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    @media (max-width: 500px) {
      height: 250px;
    }

    img {
      width: 50%;
      height: 90%;
      object-fit: cover;
    }
  }

  .sold_out {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      background: #ffffff;
      padding: 10px 20px;
      border-radius: 14px;
      color: red;
      text-transform: uppercase;
      font-weight: 600;
      transform: rotate(45deg);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

    .title {
      margin-bottom: 2px;
    }

    .description,
    .price {
      font-size: $subtitle-font-size;
    }

    .description {
      text-align: start;
    }
  }

  .ctas {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cta__sold_out {
      background-color: transparent !important;
      border: 1px solid $black;
      color: $black !important;
    }

    &__link {
      height: 64px;
      border-radius: 34px;
      font-weight: 700;
      color: #000000;
      background: transparent;
      border: 2px solid #000000;
      padding: 12px 8px 12px 8px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      transition: opacity 0.4s ease-out;
      text-decoration: none;
      text-align: center;
    }
  }
}
